/* You can add global styles to this file, and also import other style files */
/* @import 'aos/dist/aos.css';  */
h1, h2 {
    color: #000;
}
body {
	background: linear-gradient(-45deg, #2CC389, #009292, #1E6073, #2F4858);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
